body{
			margin: 0;
			background: #eee;
			background-size: 100% 100%;
			background-attachment: fixed;
			height: 100vh;
		}
		.nav{
			width: 100%;
			background: #000033;
			height: 65px;
			margin-top: 0px;			
			opacity: 0.5;
		}
		ul{
			list-style: none;
			padding: 0px;
			margin: 0px;
		}
		li{
			float: left;
			width: 220px;
			background: #000033;
		}
		#loginPageStatus
		{
		    float: left;
			margin-top: 00px;
			margin-left: 00px;
		}
		a{
			color: white;
			display: block;
			text-decoration: none;
			font-size: 20px;
			text-align: center;
			padding: 10px;
			border-radius: 0px;
			font-family: Century Gothic;
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 10px;
			margin-left: 10px;
			margin-right: 10px;
		}
		a:hover{
			background: #669900;
			transition: 0.6s;

		}